<div class="sidebar">
    <ul class="nav_list">
        <li>
            <a href="#">
                <i class='bx bx-grid'></i>
                <span class="links_name">Menu</span>
                
            </a>
            <span class="tooltip">menu</span>
        </li>
        <!-- list 2 -->
        <li>
            <a href="{{url_for('materi')}}">
                <i class='bx bx-book-reader'></i>
                <span class="links_name">Materi</span>
            </a>
            <span class="tooltip">materi</span>
        </li>
        <!-- list 3 -->
        <li>
            <a href="{{url_for('video')}}">
                <i class='bx bxs-videos'></i>
                <span class="links_name">Video</span>
            </a>
            <span class="tooltip">video</span>
        </li>
        <!-- list 4 -->
        <li>
            <a href="{{url_for('tugas')}}">
                <i class='bx bx-task'></i>
                <span class="links_name">Tugas</span>
            </a>
            <span class="tooltip">tugas</span>
        </li>
        <!-- list 5 -->
        <li>
            <a href="{{url_for('quiz')}}">
                <i class='bx bxs-message-alt-check'></i>
                <span class="links_name">Quiz</span>
            </a>
            <span class="tooltip">quiz</span>
        </li>
        <!-- list 6 -->
        <li>
            <a href="{{url_for('absen')}}">
                <i class='bx bxs-book-open'></i>
                <span class="links_name">Absen</span>
            </a>
            <span class="tooltip">absen</span>
        </li>
        <!-- list 7 -->
        <li>
            <a href="{{url_for('referensi')}}">
                <i class='bx bxs-book'></i>
                <span class="links_name">Referensi</span>
            </a>
            <span class="tooltip">referensi</span>
        </li>
        <!-- list 8 -->
        <li>
            <a href="{{url_for('pengaturan')}}">
                <i class='bx bx-cog'></i>
                <span class="links_name">Pengaturan</span>
            </a>
            <span class="tooltip">pengaturan</span>
        </li>
    </ul>
  </div>

  